{% extends 'base.html' %}
{%load static %}
{%block content%}

<style>
  .about {
    overflow-y: hidden;
    text-align: center;
    padding: 0%;
    margin: 0%;
    margin: 0vw 0vw;
    color: black;
    overflow-x: hidden;
    width: 100%;
  }

  .abt {
    margin: 2vw 10vw;

  }

  .foot {
    background-color: rgb(66, 35, 150);
    color: white;
    padding: 6vw 15vw;
  }

  .linew {
    height: 1px;
    width: 150px;
    background-color: white;
    margin-bottom: 10px;
  }

  p {
    color: black;
  }
</style>
<div class="aus">
  <div class="about">
    <div class="abt">
      <br>
      <h2 style="overflow: hidden; color:rgb(66, 35, 150)"><b><i>About Us </i></b></h2>
      <br>
      <p> Looking for a Job is More Challenging Than Ever, Great News for Job Seekers!. Sparkle is the most innovative
        online job portal in India. Founded by College Students. Sparkle has become a prominent name in the recruitment
        industry. Sparkle connects jobseekers and recruiters by accurately matching candidate profiles to the relevant
        job openings through an advanced technology. Sparkle connect thousands of men and women with top employment
        opportunities. Sparkle is a global online employment solution for people seeking jobs and the employers who need
        great people. Sparkle is the leading transition and is the fastest growing job portal. Sparkle works closely to
        bridge the gap between talent and opportunities and offers end-to-end recruitment solutions. Sparkle a job
        portal brings candidates and top employers under one roof.</p>
      <br>
      <p><b>A sparkle purpose:</b></p>
      <p>Why we do & what we do? </p>
      <p>At Sparkle, we work to bring humanity and opportunity to the job market, to enhance lives, businesses and
        communities around the world.</p>

      <br>
      <p><b>Why Sparkle?</b></p>
      <p>Sparkle with its cutting edge technology provides relevant profiles to employers and relevant jobs to
        jobseekers across industry verticals, experience levels and geographies. We help employers find not only the
        best quality candidates, but more of them, you can save time and money and to help you make smarter decisions.
        Basically, we want to give you the ability to hire like no one else can. Sparkle job portal is a unique job
        portal that helps you to have a quicker, more efficient job search. Therefore, increasing your chances of being
        shortlisted!. No wonder more than 3000+ job seekers like you have registered with Sparkle to find the job of
        their choice.</p>
    </div>
    <br>
  </div>
  <div class="foot row m-0">
    <div class="col-md-4 mb-5">
      <h4 style="overflow: hidden;">A Sparkle vision</h4>
      <h5 style="overflow: hidden;">Who we want to be</h5>
      <p style="color:white;">Sparkle will be the leading global talent platform connecting jobs and people.
      </p>
    </div>
    <div class="col-md-4 mb-5">
      <h4 style="overflow: hidden;">A Sparkle mission</h4>
      <h5 style="overflow: hidden;">How we deliver that vision</h5>
      <p style="color:white;">We strive every day to help our customers hire and help people find jobs.
      </p>
    </div>
    <div class="col-md-4 mb-5">
      <h4 style="overflow: hidden;">Contact Us</h4>
      <p style="color:white;">Ahmedabad,Gujarat,India</p>
      <p style="color:white;">+91 9845321601</p>
      <div class="linew">

      </div>
      <p style="color:white;">Social Media Links</p>
    </div>
  </div>
</div>
{% endblock %}
<!--   <div class="abc">
            <h6>&copy &nbsp Sparkle</h6> 
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>-->

<!-- {% comment %} background-image: url('static/assets/img/i2.jpg') !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow-y: hidden;
    text-align: center;
    padding: 0%;
    margin: 0%;
    margin: 0vw 0vw;
    color: white;
    overflow-x: hidden;
    width: 100%; {% endcomment %} -->