{% extends 'index.html' %}
{%load static %}
{%block content%}


<section class="featured-job-area feature-padding">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center">
                    <span>
                        <h3>Content Writing Jobs</h3>
                    </span>
                    <h2></h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <!-- single-job-content -->
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="job_details.html"></a>
                            <div class="job-tittle">
                                <a href="job_details.html">
                                    <h4>AEM Developer</h4>
                                </a>
                                <h6>Cognizant Technology Solutions India Pvt Ltd </h6>
                                <ul>
                                    <li></li>
                                    <li><i class="fa fa-map-marker-alt"></i>Mumbai, Maharashtra</li>
                                    <li><i class="fa fa-briefcase"></i>3-8 Years</li>
                                    <li> Have 3 Years of experience in AEM development, must have hands on experience.
                                    </li>
                                    <p>Skills : Basic Knowledge, AEM Import, AEM Developer </p>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a href="job_details.html">Apply Now</a>

                    </div>
                </div>
                <!-- single-job-content -->
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="job_details.html"></a>
                        </div>
                        <div class="job-tittle">
                            <a href="job_details.html">
                                <h4>Content Writing Internship</h4>
                            </a>
                            <h6>Mavenwit</h6>
                            <ul>
                                <li></li>
                                <li><i class="fa fa-map-marker-alt"></i>Delhi, Deharun</li>
                                <li><i class="fa fa-briefcase"></i>0-1 Years</li>
                                <li>Showcase your content writing art to millions of people by joining Mavenwit. </li>
                                <p>Skills : Content Writer, Content Editor, Internships,Writing </p>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a href="job_details.html">Apply Now</a>

                    </div>
                </div>
                <!-- single-job-content -->
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="job_details.html"></a>
                        </div>
                        <div class="job-tittle">
                            <a href="job_details.html">
                                <h4>Content Strategist</h4>
                            </a>
                            <h6>SnapHunt Pte Ltd </h6>
                            <ul>
                                <li></li>
                                <li><i class="fa fa-map-marker-alt"></i>Bengaluru, Bangalore</li>
                                <li><i class="fa fa-briefcase"></i>3-6 Years</li>
                                <li>Developing and managing an effective content marketing strategy and editorial plan
                                    in line.</li>
                                <p>Skills : Content Writing, Content Developer, Content Creation, Content Analyst</p>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a href="job_details.html">Apply Now</a>

                    </div>
                </div>
                <!-- single-job-content -->
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="job_details.html"></a>
                        </div>
                        <div class="job-tittle">
                            <a href="job_details.html">
                                <h4>Content Writer & Editor</h4>
                            </a>
                            <h6> Company Name Confidential </h6>
                            <ul>
                                <li></li>
                                <li><i class="fa fa-map-marker-alt"></i>Chennai,Kolkata</li>
                                <li><i class="fa fa-briefcase"></i>2-4 Years</li>
                                <li> Have 2 Years of experience, Content Writer, Basic knowledge, Typing speed. </li>
                                <p>Skills : Data Processing, Data Entry, Back Office</p>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a href="#">Apply Now</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endblock%}