{% extends 'base.html' %}
{%load static %}
{%block content%}

<div style="margin: 0vw 10vw;">
  <div>
    <br>
    <h3 style="text-align: center; "><b><i>Interview Tips </i></b></h3>
    <br>
  </div>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"><b>
            1. Tell me about yourself.</b>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Example: “Currently, I serve as the assistant to three of the company’s five
          executive team members including the CEO. During my time at the organisation, I have been recognised for my
          time management skills, writing abilities and commitment to excellence.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          <b>2. How would you describe yourself?</b>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Example: “I am a vigilant and proactive Security Officer working to ensure safe,
          secure and orderly environments. I’m also a lifelong learner always seeking out the latest security equipment
          and techniques to patrol buildings. Lastly, I am thorough in documenting all incidents and actively making
          suggestions to management about security improvements and changes.”</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          <b>3. What are your greatest strengths?</b>
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Example: “I’m a natural problem solver. I find it rewarding to dig deep and uncover
          solutions to challenges. It’s like solving a puzzle. It’s something I’ve always excelled at and something I
          enjoy. Much of product development is about finding innovative solutions to challenging issues, which is what
          drew me to this career path in the first place."</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour"><b>
            4. What are your greatest weaknesses?</b>
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Example: “I sometimes have trouble saying ‘no’ and end up overwhelmed by my
          workload. Earlier in my career, I would take on so many projects that I’d work evenings and weekends. It was
          stressful. I realised this was counterproductive so I started using workload management tools and setting
          better expectations for myself and my teammates.”</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
          <b>5. Why do you want to work here?</b>
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Example: “The company’s mission to help college graduates pay off their student loan
          debt speaks to me. I’ve been in that situation and I’d love the opportunity to work with a company that’s
          making a difference. Finding a company with a positive work environment and values that align with my own has
          remained a priority throughout my job search and this company ranks at the top of the list.”</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
          <b>6. What are you passionate about?</b>
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Example: “As an experienced, service-oriented professional with more than a decade
          of experience working in boutique salons, I thrive on creating a welcoming environment for all clients and
          providing the highest quality skincare services. My specialised training, along with my interpersonal skills,
          has helped me become adept at developing long-term, trusted relationships that help to build a loyal client
          base. These relationships are the reason I’m excited to go to work every day.”</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSeven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven"><b>
            7. What motivates you?</b>
        </button>
      </h2>
      <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Example: “Making a true difference in the lives of my patients and their families
          motivates me to strive for excellence in everything I do. I look forward to seeing my patients’ reaction when
          we get a positive outcome that will change their lives forever. That’s why I became a nurse and why I’m
          pursuing a position in pediatrics.”div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingEight">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
            <b>8. What interests you about this role?</b>
          </button>
        </h2>
        <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Example: “I’ve been passionate about user experience design for most of my
            professional career. I was excited to see this company uses Adobe products because I’m well versed in the
            entire suite. Also, I’m a huge advocate for applying agile workflows to design. I think it’s the most
            effective way to tackle large projects. I was able to successfully build and launch an agile process in my
            previous role as UX manager and we saw considerable improvements in project speed.”</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingNine">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
            <b>9. What are your goals for the future?</b>
          </button>
        </h2>
        <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Example: “I would like to continue developing my marketing expertise as well as my
            leadership skills over the next several years. One of the reasons I’m interested in working for a
            fast-growing start-up company is that I’ll have the ability to wear many hats and collaborate with many
            different departments. I believe this experience will serve me well in achieving my ultimate goal of leading
            a marketing department someday.”</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTen">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen"><b>
              10. Where do you see yourself in five years?</b>
          </button>
        </h2>
        <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Example: “In five years, I’d like to be an industry expert in my field with the
            ability to train and mentor students and entry-level designers. I would also like to gain specialised
            knowledge in user experience to be a well-rounded contributor working with design and marketing teams on
            large scale projects that make a difference in the company and to the global community.”</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingEleven">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
            <b>11. What is your salary range expectation?</b>
          </button>
        </h2>
        <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Example: “My salary expectation is between INR XX,XXX and INR XX,XXX, which is the
            average salary for a candidate with my level of experience in this city. However, I am flexible.”</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwelve">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
            <b>12. Why should we hire you?</b>
          </button>
        </h2>
        <div id="flush-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwelve"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Example: “I have a passion for application development that’s grown stronger over
            the course of my five-year career. The company’s mission aligns with my personal values and from my limited
            time in the office, I can already tell this is the sort of positive culture in which I would thrive. I want
            to work for a company that has the potential to reshape the industry and I believe you’re doing just that.”
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
  {% endblock %}
  <!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>-->

  <!--<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link href="index2.css" rel="stylesheet">
    <title>Hello, world!</title>
  </head>-->