{% extends 'index.html' %}
{%load static %}
{%block content%}

<section class="featured-job-area feature-padding">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center">
                    <span>
                        <h3>Mobile Application Jobs</h3>
                    </span>
                    <h2></h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <!-- single-job-content -->
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="job_details.html"></a>
                            <div class="job-tittle">
                                <a href="job_details.html">
                                    <h4>AEM Developer</h4>
                                </a>
                                <h6>Cognizant Technology Solutions India Pvt Ltd </h6>
                                <ul>
                                    <li></li>
                                    <li><i class="fa fa-map-marker-alt"></i>Mumbai, Maharashtra</li>
                                    <li><i class="fa fa-briefcase"></i>3-8 Years</li>
                                    <li> Have 3 Years of experience in AEM development, must have hands on experience.
                                    </li>
                                    <p>Skills : Basic Knowledge, AEM Import, AEM Developer </p>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a href="job_details.html">Apply Now</a>

                    </div>
                </div>
                <!-- single-job-content -->
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="job_details.html"></a>
                        </div>
                        <div class="job-tittle">
                            <a href="job_details.html">
                                <h4>FLUTTER DEVELOPER</h4>
                            </a>
                            <h6>Sowri Consultancy</h6>
                            <ul>
                                <li></li>
                                <li><i class="fa fa-map-marker-alt"></i>Chennai, Coimbatore</li>
                                <li><i class="fa fa-briefcase"></i>3-8 Years</li>
                                <li>Have 1 Year of experience, Basic knowledge of Mobile Applications, Worked as a
                                    Mobile Developer</li>
                                <p>Skills : iOS, Android, Mobile Applications </p>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a href="job_details.html">Apply Now</a>

                    </div>
                </div>
                <!-- single-job-content -->
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="job_details.html"></a>
                        </div>
                        <div class="job-tittle">
                            <a href="job_details.html">
                                <h4>Background with Mobile apps from B2C Companies</h4>
                            </a>
                            <h6>Talpro </h6>
                            <ul>
                                <li></li>
                                <li><i class="fa fa-map-marker-alt"></i>Bengaluru, Bangalore</li>
                                <li><i class="fa fa-briefcase"></i>7-10 Years</li>
                                <li>7-10 Years of experience with at least 5 years of experience as a Product Manager
                                </li>
                                <p>Skills : Director Product, B2C Web Product, Product Management</p>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a href="job_details.html">Apply Now</a>

                    </div>
                </div>
                <!-- single-job-content -->
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="job_details.html"></a>
                        </div>
                        <div class="job-tittle">
                            <a href="job_details.html">
                                <h4>Mobile Applications Development</h4>
                            </a>
                            <h6>Afrin Sithara J (Proprietor Of Shahi India Co)</h6>
                            <ul>
                                <li></li>
                                <li><i class="fa fa-map-marker-alt"></i>Chennai,Kolkata</li>
                                <li><i class="fa fa-briefcase"></i>2-4 Years</li>
                                <li>Looking for Mobile Development, Have Knowledge of Technology, Freshers can also
                                    apply. </li>
                                <p>Skills : Mobile Handset, Mobile apps., Mobile Multimedia, Mobile Software</p>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a href="#">Apply Now</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endblock%}