body{
    margin: 0vw 10vw;
    /*background-image: url(i6.png);
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover;
     background-color: rgba(126, 197, 252, 0.932);*/
    height:fit-content;
}